<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <div class="logo" onclick="location.href='index.html'">Logo</div>
        <nav>
            <button onclick="location.href='landsat.html'">Landsat Tracker</button>
            <button onclick="location.href='live.html'">Live Tracker</button>
            <button onclick="location.href='about.html'">About Us</button>
        </nav>
    </header>
    <main>
        <h1>Bye World</h1>
    </main>
    <script src="script.js"></script>
</body>
</html>