<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Weather Forecast</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <a href='/'>
            <img src="/static/logo.png" alt="Logo" class="logo" height="100px" width="120px">
        </a>
        <nav>
            <button onclick="location.href='landsat'">Landsat Tracker</button>
            <button onclick="location.href='live'">Live Tracker</button>
            <button onclick="location.href='about'">About Us</button>
        </nav>
    </header>
    <main>
        <h1>Hello World</h1>
    </main>
</body>
</html>
